input {
  padding-left: 20px;
  padding-bottom: 10px;
  size: 40;
  border-radius: 5px;
}
.header {
  text-align: center;
  background-color: aquamarine;
}
.body {
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  background-color: black;
}

form {
  padding-left: 20px;
  display: flex;
  padding-bottom: 30px;
}

button {
  padding: 10px;
  background-color: red;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > h5 {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > h5 img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
  color: aqua;
}
